@import'https://fonts.googleapis.com/css?family=Playfair+Display';

html, body{
  background: #F0F8FF;
  background-image: linear-gradient(90deg, #F0F8FF, #e6e6fa);
}

/* #success-message {
  opacity: 0;
} */

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
  padding: 0 20% 0 20%;
}

.title {
  padding: 25px;
  font-size: 30px;
  font-weight: 300;
  font-family: "Playfair Display";
  background-color: #FBFDFF;
  border-color: #778899;
  border-style: outset;
  margin-top: 3%;
  border-width: 2px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-bottom: 2%;
  margin-left: 25%;
  margin-right: 25%;
}

.form-group .form-control {
  -webkit-box-shadow: none;
  border-bottom: 1px;
  border-style: none none solid none;
  border-radius:0;
  border-color: #000;
  background-color: #FBFDFF;
}

.form-group .form-control:focus {
	box-shadow: none;
  border-width: 0 0 2px 0;
  border-color: #000;
  background-color: #FBFDFF;
}

textarea {
  resize: none;
}

.btn-mod.btn-large {
    height: auto;
    padding: 13px 52px;
    font-size: 15px;
}

.btn-mod.btn-border {
    color: #152238;
    border: 1.25px solid #152238;
    background-color: #FBFDFF;
}

.btn-mod, a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 13px;
    border: 1px solid transparent;
    font-size: 11px;
    font-weight: 400;
    font-family: "Playfair Display";
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
    color: #FBFDFF;
    border-color: #152238;
    background: #152238;
    outline: none;
}

@media only screen and (max-width: 500px) {
    .btn-mod.btn-large {
       padding: 6px 16px;
       font-size: 11px;
    }

    .form-title {
        font-size: 20px;
  }
}



div.navBar {
  padding-top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.navBar a:before, div.navBar a::after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #152238;
    transition: all 0.3s;
}

div.navBar a:before {
  left: 0px;
  top: 0px;
}

div.navBar a:after {
  right: 0px;
  bottom: 0px;
}

div.navBar a:hover:before, div.navBar a:hover:after {
    opacity: 1;
    width: 100%;
}

div.container a {
  color: #152238;
  text-decoration: none;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 300px;
  margin: 0px 10px;
  padding: 8px 8px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  text-align: center;
}
